<div class="container-fluid bg-info">
  <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">

    <h2>TRIODESK DATABASE</h2>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 bg-light">

    <br>
    <form name="triodata" #triodata="ngForm" class="was-validated" (ngSubmit)=add(triodata.value)>
        <div class="form-group">
           <b><label for="uname">Name:</label></b> 
            <input type="text" class="form-control"  placeholder="Enter name" name="uname" required #uname="ngModel" ngModel>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group">
           <b> <label for="email">Email:</label></b>
            <input type="email" class="form-control" placeholder="Enter Email" name="email" required  #email="ngModel" ngModel>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

          <div class="form-group">
              <b><label for="aadhar">Aadhar No:</label></b>
              <input type="aadhar" class="form-control"  placeholder="Enter Aadharno" name="aadharno" required  #aadharno="ngModel" ngModel>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>


            <div class="form-group">
                <b><label for="Degree">Degree:</label></b>
                <input type="degree" class="form-control"  placeholder="Enter Degree" name="degree" required  #degree="ngModel" ngModel>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>


              <div class="form-group">
                 <b> <label for="DOJ">Date Of Joining:</label></b>
                  <input type="doj" class="form-control"  placeholder="Enter Date Of Joining" name="doj" required  #doj="ngModel" ngModel>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Check this checkbox to continue.</div>
            </label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
           <button type="submit" class="btn btn-danger">Submit</button>
          </div>
        </form>
      </div>
      




    


  </div>

</div>
<router-outlet></router-outlet>
