<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
<form #personForm="ngForm" (ngSubmit)="onLogin(personForm.value)">
  
      
          <div class="login">
              <div class="form-group">
                  <h1> Login</h1>
                  <label for="email">User Email:</label>
                  <input type="username" name="email" class="form-control" id="name" [(ngModel)]="email" placeholder=" Mail Id" #Username="ngModel" minlength="6" required ngModel>
                  <div *ngIf="Username.errors && (Username.touched|| Username.dirty)" class="alert text-light">
                      <div style="font-size:15px;margin:-10p;color:red;" [hidden]="!Username.errors.required">
                          Usermail requried
                      </div>
                      <div style="font-size:15px;margin:-10px;color:rgba(26, 194, 20, 0.884);" [hidden]="!Username.errors.minlength">
                          Please enter minimum 6 character
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" placeholder="Password" #Password="ngModel" minlength="8" required ngModel>
                  <div *ngIf="Password.errors && (Password.touched|| Password.dirty)" class="alert text-light">
                      <div style="font-size:15px;margin:-10px;color:red;" [hidden]="!Password.errors.required">
                          Password requried
                      </div>
                      <div style="font-size:15px;margin:-10px;color:rgba(26, 194, 20, 0.884);" [hidden]="!Password.errors.minlength">
                          Please enter minimum 8 character
                      </div>
                  </div>
              </div>
              <div class="text-center">
                  <button  class="btn btn-success  btn-round" [disabled]="!personForm.form.valid">Login</button>

              </div>
              <br>

              <a routerLink="/signup"><p>(If u have a New User click me to signup)</p></a>
              <br>

          </div>
     
      </form>
      </div>
      </div>
    </div>
