<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="assets/img/img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">{{result.name}}</h4>
             
              <p class="card-text">
               <b>  MAILID:</b> {{result.email}}<br>
               <b> AADHAR:</b> {{result.aadhar}}<br>
               <b> DEGREE:</b> {{result.deg}}<br>
               <b> D.O.J.:</b> {{result.doj}}
               </p>
               <br>
              <a routerLink="/list-data"><button type="button" class="btn btn-primary">GO TO LIST</button></a>
              
            </div>
          </div>
  
        
          
    
      
    </div>
  </div>
  </div>








